
        h1,
        h2,
        h3,
        h4 {
            font-family: "Poppins"
        }

        li{
            font-size: medium;
        }

        body {
            background-color:azure;
            margin: 0;
        }

        button {
            cursor: pointer;
        }

        a{
            text-decoration: none;
        }

        .content {
            position: relative;
            display: flex;
            text-align: center;
            justify-content: center;
            padding: 1.25rem ;
            margin: 1.25rem;

        }

        .uil-github-alt:hover{
            color: rgb(0, 0, 207);
        }

        .uil-github-alt{
            font-size: x-large;
        }
        