
        h1,
        h2,
        h3,
        h4 {
            font-family: "Poppins"
        }

        li{
            font-size: medium;
        }

        body {
            background-color: #191d2d;
            margin: 0;
            color: white;
        }

        button {
            cursor: pointer;
        }

        a{
            text-decoration: none;
        }

        .content {
            position: relative;
            display: flex;
            text-align: center;
            justify-content: center;
          

        }

        .body-content{
            position: relative;
        }

        .uil-github-alt:hover{
            color: rgb(83, 57, 0);
        }

        .uil-github-alt{
            font-size: x-large;
            color: darkgoldenrod;
        }
        