h1, h2, h3, h4 {
    font-family: "Poppins";
}

body {
    background-color: #191d2d;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px; 
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
}

.text {
    padding: 0;
}

.header {
    font-size: x-large;
}

.content {
    font-size: x-large;
}

.list {
    padding-left: 0;
    list-style: none;
}

.list li {
    font-size: large;
    margin-bottom: 10px;
}

.uil-github-alt:hover {
    color: rgb(83, 57, 0);
}

.uil-github-alt {
    font-size: x-large;
}


@media (max-width: 767px) {
    .text {
        padding: 0; 
    }

    .content {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .list-title {
        font-size: 1.2rem;
        margin-bottom: 10px; 
    }

    .list li {
        font-size: 1rem; 
        margin-bottom: 5px; 

    }
}
